<?xml version="1.0"?>

	<connectionStrings>
		<add name="DefaultConnection" providerName="System.Data.SqlClient" 
			 connectionString="Server=tcp:ij5vhv5640.database.windows.net,1433;Database=[photodata];User ID=finishline@ij5vhv5640;Password=Nan05/29Haninif;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
		
	</connectionStrings>
 

