<?xml version="1.0"?>
<connectionStrings>
	<add name="DefaultConnection" 
		 connectionString="Server=tcp:g9jdejeaqg.database.windows.net,1433;Database=photodata;User ID=FinishLineAdmin@g9jdejeaqg;Password=Nan05/29Haninif;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" 
		 providerName="System.Data.SqlClient" />
</connectionStrings>
