<?xml version="1.0"?>
<connectionStrings>
	<add name="DefaultConnection" 
		 connectionString="Server=tcp:g9jdejeaqg.database.windows.net,1433;Database=photodata;User ID=FinishLineAdmin@g9jdejeaqg;Password=Nan05/29Haninif;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" 
		 providerName="System.Data.SqlClient" />
    <add name="AzureStorageConnection"
        connectionString="DefaultEndpointsProtocol=http;AccountName=photoserverstorage;AccountKey=eNmpwhKdlwZMbd7FewnkHI90NFELJanlvdPlFVJq5tcTL3sXKwQXxVMJ3Aq7H2EIuk3/FRXdZFeXwHVCFMddUw==;"/>
</connectionStrings>
